* {
    padding: 0;
    margin: 0;
    font-family: Tahoma;
}

:root {
    --main-color: #535bf2;
}

main {
    height: calc(100vh - var(--header-height));
    display: flex;
}

.left, .right {
    height: 100%;
}

.left {
    width: 300px;
}

.right {
    width: 100%;
}