:root {
    --panel-width: 200px;
}

.control-panel {
    position: relative;
    z-index: 10;
    height: 100%;
    width: var(--panel-width);
    transition: 300ms;
}

.control-panel nav {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
}    

.control-panel li {
    list-style-type: none;
    margin: 15px 0;
    padding: 10px 20px;
    text-align: center;
    border-radius: 5px;
    transition: 300ms;
}

.control-panel li:hover {
    background-color: #666;
    a { color: #242ccc; }
}

.control-panel a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
    transition: 300ms;
}

.control-panel .icon {
    position: absolute;
    width: 27px;
    height: 27px;
    top: 20px;
    right: 20px;
    fill: #ccc;
    cursor: pointer;
    transition: 200ms;
}

.control-panel .icon:hover {
    fill: var(--main-color);
}

.control-panel .show-panel {
    display: none;
}

.control-panel.hide {
    width: 0;
    ul { display: none; }
}

.control-panel.hide .show-panel {
    display: block;
    top: 50%;
    right: -55px;
    transform: translateY(-50%);
    background-color: #333;
    padding: 8px 16px 11px;
    border-radius: 0 30px 30px 0;
}

@media screen and (max-width: 750px) {
    .control-panel {
        position: absolute;
    }
}