:root {
    --header-height: 75px;
}

header {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--header-height);
    padding: 0 7% 0 35px;
    background: #ddd;
}

header nav {
    display: flex;
    gap: 35px;
}

header nav a {
    font-size: 1.15em;
    color: var(--main-color);
    transition: 200ms;
}

header nav a:hover {
    color: #007bff;
    text-decoration: none;
    scale: 1.05;
}

header nav svg {
    margin-right: 10px;
    scale: 1.1;
}

.logo {
    font-size: 2em;
    font-weight: 500;
    color: var(--main-color);
}

.user-actions {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.user-logo {
    width: 30px;
    height: 30px;
    scale: 1.4;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #fff;
    color: #444;
    cursor: pointer;
}

.user-logo:hover {
    color: var(--main-color);
}

.user-actions .actions {
    position: absolute;
    top: 60px;
    width: 150px;
    display: flex;
    flex-direction: column;
    padding: 15px 0;
    background-color: #eee;
    border-radius: 3px;
    transition: 300ms;
}


.user-actions .actions::before {
    content: '';
    position: absolute; 
    top: -3px;
    left: 50%;
    transform: rotate(45deg) translateX(-50%);  
    width: 20px;
    height: 20px; 
    background-color: #eee;
}

.user-actions .actions a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    font-size: .98em;
    transition: 200ms;
    padding: 5px 0;
}

.user-actions .actions a:hover {
    color: var(--main-color);
}