:root {
    --header-height: 75px;
}

header {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--header-height);
    padding: 0 7% 0 35px;
    background: #bbb;
}

.logo {
    font-size: 2em;
    font-weight: 500;
    color: var(--main-color);
}

.user-actions {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.user-logo {
    width: 30px;
    height: 30px;
    scale: 1.4;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #eee;
    color: #444;
    cursor: pointer;
}

.user-actions .actions {
    position: absolute;
    width: 150px;
    right: 0;
    top: 65px;
    display: none;
    flex-direction: column;
    gap: 5px;
    background-color: #eee;
    padding: 15px 0;
    opacity: 0;
    transition: 300ms;
    border-radius: 3px;
}

.user-actions:hover .actions {
    opacity: 1;
}

.user-actions .actions::before {
    content: '';
    position: absolute; 
    top: -5px;
    right: 15px;
    transform: rotate(45deg);  
    width: 20px;
    height: 20px; 
    background-color: #eee;
}

.user-actions .actions a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    font-size: .98em;
    transition: 200ms;
    padding: 5px 0;
}

.user-actions .actions a:hover {
    color: var(--main-color);
}