
main {
  position: relative;
  min-height: calc(100vh - var(--header-height) - 70px);
  display: flex;
  align-items: center;
  padding: 0 100px;
}

main::after {
  content: '';
  position: absolute;
  z-index: -10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../assets/img/sport-1.png') center/cover  no-repeat;
  filter: blur(3px);
  opacity: .3;
}

.banner {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-weight: bold;
}

.banner button {
  width: 280px;
  padding: 10px;
  font-size: 1.2em;
  border-radius: 5px;
  background-color: #5d63d7;
}

.banner button:hover {
  background-color: var(--main-color);

}

.banner a {
  color: #fff;
  text-decoration: none;
}

footer {
  height: 70px;
  line-height: 70px;
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
  font-size: 1.1em;
}

footer a {
  margin: 0 10px;
  color: #fff;
  font-size: 1.6em;
  transition: 200ms;
}

footer a:hover {
  color: var(--main-color);
}